<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Enlaces</h1>
    <ul>
        <li><a href="{{ url_for('TODO') }}">TODO List</a></li>
        <li><a href="{{ url_for('new_year') }}"">New year!</a></li>
        <li><a href="{{ url_for('hello_world') }}">Hello, world!</a></li>
        <li><a href="{{ url_for('hello') }}">Hello!</a></li>
        <li><a href="{{ url_for('index_in') }}">First Page</a></li>
        <li><a href="{{ url_for('more') }}">Second Page</a></li>
        <li><a href="{{ url_for('loops') }}">Loops</a></li>
        <li><a href="{{ url_for('david') }}">Routes0</a></li>
        <li><a href="{{ url_for('index_static1') }}">Static_1</a></li>
        <li><a href="{{ url_for('more_static2') }}">Static_2</a></li>
        <li><a href="{{ url_for('templatess') }}">Templates</a></li>
        <li><a href="{{ url_for('index_urls') }}">Urls index</a></li>
        <li><a href="{{ url_for('more_urls') }}">Urls more</a></li>
        <li><a href="{{ url_for('index_variables0') }}">Variables 0</a></li>
        <li><a href="{{ url_for('index_variables1') }}">Variables 1</a></li>
    </ul>
</body>
</html>